
  .attribution { font-size: 11px; text-align: center; }
  .attribution a { color: hsl(228, 45%, 44%); }
  a{
    text-decoration: none;
  }

  li{
    list-style: none;
  }

  button{
    cursor: pointer;
  }

  p{
    padding: 1.5rem 0;
    line-height: 1.4rem;
    color:#C2C2C6;
}

h1,
h2,
h3,
h4,
h5,
h6{
    color: #3F4155;
}

*{
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


header{
    padding: 2rem 7rem;
    display: flex;
    justify-content: space-between;
}

header .logo{
    padding: 1rem 3rem;
    display: flex;
    align-items: center;
}

.header-nav{
    padding: 1rem 1rem 1rem 2rem;
    width: 32rem;
    display: flex;
    justify-content: space-between;
}

.header-nav ul {
    display: flex;
    align-items: center;
}

.header-nav ul li{
    margin-left:  3.2rem;
    font-weight: 500;
}

.header-nav ul li a{
    font-size: 11.4px;
    color: #54545C;
}

.login-btn{
    padding: 0.7rem 1.9rem;
    border: none;
    border-radius: 5px;
    font-size: 11.4px;
    font-weight: 600;
    background-color: #FB5859;
    border: 2px solid #FB5859;
    color: #FFFFFF;
    box-shadow: 0 4px 5px 1px rgb(230, 228, 228);
}

.header-nav ul li a:hover{
    color: #FB5859;
}

.login-btn:hover{
    background-color: white;
    color: #FB5859;
}

.get-bookmark,.feature-category-bookmark{
    padding: 0rem 0rem 3rem 8rem;
    display: flex;
    justify-content: space-between;
}

.feature-category-bookmark{
    padding-left: 0;
}

.feature-category-bookmark .intro{
    padding-right: 8rem !important;
}

.intro{
    padding: 2rem 2rem 0rem 2rem;
    display: flex;
    flex-direction: column;
}


.intro h1{
    font-size: 2.2rem;
    font-weight: 500;
    color: #292E46;
}

.get-btn{
    padding: 0.8rem 1.3rem;
    border: none;
    border-radius: 5px;
    font-size: 11.4px;
    font-weight: 600;
    background-color: #ffffff;
    border: 2px solid #ffffff;
    color: #565663;
    box-shadow: 0 4px 5px 1px rgb(230, 228, 228);
    margin: 0 1rem 0 0;
}

.active-get-btn{
    background-color: #5266de;
    border: 1px solid #5266de;
    color: #FFFFFF;
}

.get-btn:hover{
    border: 2px solid #565663;
}

.active-get-btn:hover{
    border: 2px solid #5266de;
    color: #5266de;
    background-color: white;
}

.right-intro-img{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    padding-right: 1.6rem;
}

.left-intro-img{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    padding-left: 1.6rem;
}

.left-curve{
    width: 28.5rem;
    padding: 10rem 0;
    background-color: #5266DF;
    position: absolute;
    bottom: 1rem;
    right: 0;
    z-index: 0;
    border-bottom-left-radius: 145px;
    margin-bottom: -2.2rem;
}

.right-curve{
    width: 32rem;
    padding: 10rem 0;
    background-color: #5266DF;
    position: absolute;
    bottom: 1rem;
    left: 0;
    z-index: 0;
    border-bottom-right-radius: 145px;
    margin-bottom: 2.2rem;
}

.right-intro-img img{
    margin-top: -1.2rem;
    z-index: 1;
}

.left-intro-img img{
    margin-bottom: 10rem;
    margin-left: 5rem;
    z-index: 1;
}

.bookmark-features{
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.feature-category{
    border-bottom: 1px solid #C2C2C6;
}

.feature-category ul {
    display: flex;
    justify-content: space-between;
    width: 40rem;
    height: 45px;
}

.feature-category ul li{
    padding: 0 3rem 1rem 3rem;
    cursor: pointer;
}

.feature-category ul li:hover{
    border-bottom: 3px solid #FB5859;
}

.feature-category a{
    color: #3F4155;
    font-weight: 600;
    font-size: small;
}

.bookmark-features p{
    font-size: 15px;
}